.heading { 
    color:#00008B; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.heading2 { 
    color:#0b8af1; 
    font-family: 'Times New Roman', Times, serif;
}

.heading3 { 
    color:#0b8af1; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.heading4 { 
    color:#1dc217; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.heading5 { 
    color:#2e352e; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.heading6 { 
    color:#2e352e; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}